@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* .table-height{
  height: 80vh;
  overflow: hidden;
} */
/* .table-height{
  height: calc(100%-150px);
  overflow: hidden;

} */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 4px 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px whitesmoke; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(46, 43, 43); 
  border-radius: 4px 0px; 
}

.errorPage{
  width: 100%;
  height: 100vh;
  position: relative;
}
.errorPage-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
}

.butn-page{
  position: absolute;
  left: 30%;
}

input[type=text] {
  font-family: 'Quicksand', sans-serif;
font-size: small;
font-weight: lighter;
/* padding: 0 auto; */
}


.login-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(242 246 249)
}

.login-sub_header{
  position: absolute;
  width: 35%;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  background-color: white;
 
}


.login-button{
  width: 100%;
  margin: 15px 50%;
  transform: translate(-50%);
  background-color: #248f8f;
}


.user-icon{
  margin: 10px 50%;
  transform: translate(-50%);
  width: 20;
  height: 20%;
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 
.table-display tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(even){background-color: #f2f2f2;} */